* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  background-color: #222;
  padding: 0 15px;
  width: 100%;
  position: fixed;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

.li-logo {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.search {
  margin-right: 25px;
}

.hero {
  display: flex;
  height: 300px;
  background-color: rgb(140, 231, 240);
  padding-top: 55px;
  align-items: center;
}

.hero div p {
  margin: 10px 0;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 1220px){
  .boxes, .items{
    flex-wrap: wrap;
  }
  
}

.box img {
  width: 390px;
  height: 250px;
}

.section-title {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.section-desc {
  margin: 20px 0;
}

.items { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.section-items {
  background-color: rgb(140, 231, 240);
  margin-top: 50px;
  height: 250px;
}

footer {
  margin: 20px 0;
}

footer div nav ul{
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}

footer nav ul li a {
  text-decoration: none;
}

footer nav ul li {
  margin: 0 5px;
}

footer div ul li:first-child {
  margin-left: 0;
}

footer div p {
  font-size: 15px;
}